<div>
    <article class="container"> 
        <img class="foto" src="/images/beer.png" alt="cerveza">
        <a class="link-btn" href="/beers">Check the Beers!</a> 
        <a class="link-btn" href="/random-beer">Check a Random Beer!</a> 
    </article>
    

</div>