<div>
    <article class="container"> 
        <img class="foto" src="/images/beer.png" alt="cerveza">
        <a class="link-btn" href="/views/Beers.hbs">Check the Beers!</a> 
        <a class="link-btn" href="/views/Random-Beer.hbs">Check a Random Beer!</a> 
    </article>
    

</div>