/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body{
    background-color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-bar {
    background-color: #2081c3;
    padding: 14px;
    color:#f7f9f9;
    list-style-type: none;
    justify-content: space-between;
    }

    .nav-bar a {
        color: #f7f9f9;
        text-decoration: none; 
        justify-content: space-between;
        padding: 14px;
    }
.foto{
    object-fit: cover;
    /* display: flex;
    position: relative;
    top: 20px;
    left: 400px;*/
    width: 300px;
}

.container {
    text-align: center;
    width: 200px;
    display:flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.link-btn{
    background-color: #2081c3;
    width:fit-content;
    padding: 14px;
    margin: 15px;
    color:#f7f9f9;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
    text-decoration: none; 
    /* display:flex;
    flex-direction: column; */
}

.cerveza{
    width: 100px;
}